@import url('/home/wafflegum/.cache/wal/colors-waybar.css');

@define-color mauve  @color9;
@define-color red  @color9;
@define-color lavender  @color7;
@define-color text  @color5;
@keyframes fadeIn {
    0% {
    }
    100% {
    }
}

* {
    all:unset;
    font-family: 'CodeNewRoman Nerd Font Mono', monospace;
    font-size: 18px;
    outline: none;
    border: none;
    text-shadow:none;
    background-color:transparent;
}

window {
    /* all:unset; */
    /* padding: 20px; */
    border-radius: 0rem;
    background-color: alpha(@background, .3);
}
#inner-box {
	width: 100%:
	height: 100%;
    /* margin: 2px; */
    /* padding: 5px */
    border: none;
}
#outer-box {    
    border: none;
}
#scroll {
    margin: 0px;
    padding: 30px;
    border: none;
}
#input {
    all:unset;
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    padding: 20px;
    border: none;
    outline: none;
    color: @text;
    box-shadow: 1px 1px 5px rgba(0,0,0, .5);
    border-radius:10;
    background-color: alpha(@background, .5);
}
#input image {
    border: none;
    color: @red;
    padding-right:10px;
}
#input * {
    border: none;
    outline: none;
}

#input:focus {
    outline: none;
    border: none;

    border-radius:10;
}
#text {
    margin: 5px;
    border: none;
    color: @text;
    outline: none;
}
#text {
    margin: 5px;
    border: none;
    color: @text;
    outline: none;
}
#entry {
    border: none;
    /* margin-top: 5px; */
    padding: 10px;
}
#entry arrow {
    border: none;
    color: @lavender;

}
#entry:selected {
    box-shadow: 1px 1px 5px rgba(255,255,255, .03);
    border: none;
    border-radius: 0.75rem;
    background-color: alpha(@background, 0.2);
    transition: background-color 0.25s ease;
}
#entry:selected #text {
    color: @foreground;
	text-style: bold;
	text-shadow: 0rem 0rem 0.4rem alpha(white, 0.2);
	transition: text-shadow 0.25s ease;
}
#entry:drop(active) {
    background-color: @lavender !important;
}
